# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === IDE ===
.vscode/
.idea/
*.iml

# === 依赖/构建 ===
venv/
node_modules/
target/
dist/

# === 报告/驱动 ===
allure-report/
allure-results/
chromedriver
chromedriver.exe

# === OS ===
.DS_Store
Thumbs.db